<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redot | Solutions</title>
    <link type="image/x-icon" rel="icon" href="image/favicon-32x32.png"/>
    <!--<link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" href="https://fontawesome.com/icons/head-side-gear?f=classic&s=regular">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fontawesome.com/icons/head-side-gear?f=classic&s=regular">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="webpage-background" style="background-color: #F0F0F0;">
            <div class="strip">
                <p>Scale up your Business online with REDOT!!</p>
                <div class="s-right">
                <span><i class="fa fa-phone"></i>Call: 7272911100</span>
                <span><i class="fa fa-envelope"></i>Email: info@redotsolutions.com</span>
                    <div class="s-icons">
                        <a href="https://www.facebook.com/redothrsolutions?mibextid=D4KYlr" target="_blank"><i class="fa fa-facebook-f" style="padding: 8px 10px;"></i></a>
                        <a href="https://twitter.com/RedotSolutions?s=20" target="_blank"><img src="image/twit2.png"></a>
                        <a href="https://instagram.com/redot.solutions?igshid=MzRlODBiNWFlZA==" target="_blank"><i class="fa fa-instagram" style="margin-right: 2px;"></i></a>
                        <a href="https://www.linkedin.com/company/redot-solutions/" target="_blank"><i class="fa fa-linkedin" style="margin-right:0px;"></i></a>
                    </div>
                </div>
            </div>
            <div class="header">
                <div class="logo">
                    <figure>
                        <img src="image/redot-log.png" title="Redot_Logo">
                        <!--<figcaption>Redot Solutions</figcaption>-->
                    </figure>
                </div>
                <div class="menu" id="menu-links">
                    <i class="fa fa-times" onclick="hide();"></i>
                    <ul>
                        <li><a href="index.html" target="_blank">HOME</a></li>
                        <li><a href="#">ABOUT US</a></li>
                        <li class="career"><a href="#service">SERVICES</a>
                            <ul>
                                <div class="merge-part">
                                <div class="merge" style="width: 120px;">
                                    <li><a href="#">Software Development</a></li>
                                    <li><a href="#">Website Development</a></li>
                                    <li><a href="#">Mobile application development</a></li>
                                    <li><a href="#">Website Design</a></li>
                                    <li><a href="#">Blockchain Development</a></li>
                                    <li><a href="#">E-Commerce Development </a></li>
                                </div>
                                <div class="merge">
                                    <li><a href="#">Accounting Software</a></li>
                                    <li><a href="#">Other Digital Transformation</a></li>
                                    <li><a href="#">IT Recruitments</a></li>
                                    <li><a href="#">RPO</a></li>
                                    <li><a href="#">Executive Search</a></li>
                                    <li><a href="#">Sourcing of Candidates</a></li>
                                </div>
                                <div class="merge">
                                    <li><a href="#">Corporate Training</a></li>
                                    <li><a href="#">Social Media Marketing</a></li>
                                    <li><a href="#">Search Engine Optimization</a></li>
                                    <li><a href="#">Social Media Optimization</a></li>
                                    <li><a href="#">Domain REgistration</a></li>
                                    <li><a href="#">Web Hosting</a></li>
                                </div>
                                <div class="merge">
                                    <li><a href="#">SSL & Security</a></li>
                                    <li><a href="#">Email Services</a></li>
                                    <li><a href="#">AWS Consulting</a></li>
                                    <li><a href="#">Cloud Migration Services</a></li>
                                    <li><a href="#">IT Consulting</a></li>
                                </div>
                                </div>
                            </ul>
                        </li>
                        <li class="career">CAREER
                            <ul>
                                <li><a href="job.html" target="_blank">Job</a></li>
                                <li><a href="training.html" target="_blank">Training & Placement</a></li>
                                <li><a href="intern.html" target="_blank">Internships</a></li>
                            </ul>
                        </li>
                        <li class="career">OUR VALUES
                            <ul>
                                <li><a href="mission.html" target="_blank">Mission & Vision</a></li>
                                <li><a href="mission.html" target="_blank">Core Values</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html" target="_blank">CONTACT US</a></li>
                        <li><a><button>Lets talk</button></a></li>
                    </ul>
                </div>
                <div class="bar-details">
                    <i class="fa fa-bars" onclick="show();"></i>
                </div>
            </div>
            <div class="about-us">
                <img src="../../assets/image/abt.webp">
                <h1>Get to Know Us!</h1>
            </div>
        </div>
        <div class="about-content">
            <img src="../../assets/image/global.webp">
            <h1>ABOUT US</h1>
            <div class="about-details">
                <p>REDOT Solutions integrates with the clients and Software development team to optimize the workflow of business with the Strategic planning by Technology argumentation, support Services and work offshoring. We radically engage ourselves to the accomplishment of long-term development and the expansion of business.</p>
                <p>REDOT stands as India's fastest-growing IT consulting firm. Our expertise spans impact analysis, business case development, innovative strategies, and seamless execution. At REDOT Solutions, we take pride in our rapid expansion in software development, professional recruitment, training, and IT consulting. We're here to prepare you for upcoming business applications, ensuring adaptable and interactive company operations. With a focus on lasting value, we offer comprehensive solutions and a spectrum of expertise.</p>
                <p>Our commitment lies in delivering measurable results through technology-driven business and operational transformations. We're dedicated to supporting those striving for excellence in their domains. With extensive proficiency across project phases—planning, implementation, analysis, execution, evaluation, and process adherence—we consistently provide top-notch solutions that align with your needs. Our unwavering dedication to quality service remains at the core of REDOT Solutions.</p>
                <p>Empowered by precision and innovation, we provide tailored IT and software assistance, simplifying the journey to success. Partnering with the premier IT consulting company should be seamless, and we ensure working with our company ought to be a lot simpler for you as a service user!</p>
            </div>
        </div>
        <div class="footer-part">
            <div class="brands">
                <h2>Our Brands</h2>
                <div class="infiniticz">
                    <p><a href="https://infiniticz.com/" target="_blank">INFINITICZ</a></p>
                </div><br>
                <div class="redot">
                    <p><a href="https://www.redotsolutions.com/#/" target="_blank">REDOT ACADEMY</a></p>
                </div>
                <img src="../../assets/image/redot-log.png">
            </div>
            <div class="services-part">
                <div class="part">
                    <h2>Development</h2>
                    <p><a href="#">Software Development</a></p>
                    <p><a href="#">Website Development</a></p>
                    <p><a href="#">Mobile Application<br>Development</a></p>
                    <p><a href="#">Website Design</a></p>
                    <p><a href="#">Blockchain Development</a></p>
                    <p><a href="#">E-Commerce Development</a></p>
                    <p><a href="#">Accounting Software</a></p>
                    <p><a href="#">Other Digital Transformations</a></p>
                </div>
                <div class="part" style="width: 250px;">
                    <h2>Outsourcing</h2>
                    <p><a href="#">IT Recruitments</a></p>
                    <p><a href="#">RPO(Recriutment process outsourcing)</a></p>
                    <p><a href="#">Executive Search</a></p>
                    <p><a href="#">Sourcing of Candidates</a></p>
                    <p><a href="#">Corporate Training<br>(sourcing and IT recriutment)</a></p>
                    <h2>Digital Marketing</h2>
                    <p><a href="#">Social Media Marketing</a></p>
                    <p><a href="#">Search Engine Optimization</a></p>
                    <p><a href="#">Social Media Optimization</a></p>
                </div>
                <div class="part">
                    <h2>Domain Hosting</h2>
                    <p><a href="#">Domain Registration</a></p>
                    <p><a href="#">Web Hosting</a></p>
                    <p><a href="#">SSL & Security</a></p>
                    <p><a href="#">Email Services</a></p>
                    <div class="part" style="padding-top:20px">
                        <h2>Devops & Cloud</h2>
                        <p><a href="#">AWS Consulting</a></p>
                        <p><a href="#">Cloud Migration Services</a></p>
                        <p><a href="#">IT Consulting</a></p>
                    </div>
                </div>
            </div>
            <div class="reviews">
                <h2>Reviews</h2>
                <p>We trust the process and Teamwork to satisfy clients. Our credibility can be reviewed here!</p>
                <button>Lets's Review</button>
                <div class="social-icons">
                    <a href="https://www.facebook.com/redothrsolutions?mibextid=D4KYlr" target="_blank"><i class="fa fa-facebook-f" style="padding: 10px 13px;"></i></a>
                    <a href="https://twitter.com/RedotSolutions?s=20" target="_blank"><img src="image/twi1.png"></a>
                    <a href="https://instagram.com/redot.solutions?igshid=MzRlODBiNWFlZA==" target="_blank"><i class="fa fa-instagram" style="margin-right: 4px;"></i></a>
                    <a href="https://www.linkedin.com/company/redot-solutions/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="copywrite">
            <p>Redot Solutions © copyright 2023. All Rights Reserved.</p>
        </div>
    </div>
    
    <script>
        var links =document.getElementById("menu-links");
        function show(){
            links.style.right = "0";
        }
        function hide(){
            links.style.right = "-200px"
        }
    </script>
</body>
</html>
