<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redot | Solutions</title>
    <link type="image/x-icon" rel="icon" href="image/favicon-32x32.png"/>
    <!--<link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" href="https://fontawesome.com/icons/head-side-gear?f=classic&s=regular">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fontawesome.com/icons/head-side-gear?f=classic&s=regular">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="webpage-background" id="back">
            <div class="strip">
                <p>Scale up your Business online with REDOT!!</p>
                <div class="s-right">
                <span><i class="fa fa-phone"></i>Call: 7272911100</span>
                <span><i class="fa fa-envelope"></i>Email: info@redotsolutions.com</span>
                    <div class="s-icons">
                        <a href="https://www.facebook.com/redothrsolutions?mibextid=D4KYlr" target="_blank"><i class="fa fa-facebook-f" style="padding: 8px 10px;"></i></a>
                        <a href="https://twitter.com/RedotSolutions?s=20" target="_blank"><img src="../assets/image/twit2.png"></a>
                        <a href="https://instagram.com/redot.solutions?igshid=MzRlODBiNWFlZA==" target="_blank"><i class="fa fa-instagram" style="margin-right: 2px;"></i></a>
                        <a href="https://www.linkedin.com/company/redot-solutions/" target="_blank"><i class="fa fa-linkedin" style="margin-right:0px;"></i></a>
                    </div>
                </div>
            </div>
            <div class="header" style="background: none;">
                <div class="logo">
                    <figure>
                        <img src="../assets/image/redot-log.png" title="Redot_Logo">
                        <!--<figcaption>Redot Solutions</figcaption>-->
                    </figure>
                </div>
                <div class="menu" id="menu-links">
                    <i class="fa fa-times" onclick="hide();"></i>
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="../app/aboutus/aboutus.component.html" target="_blank">ABOUT US</a></li>
                        <li class="career"><a href="#service">SERVICES</a>
                            <ul>
                                <div class="merge-part">
                                <div class="merge">
                                    <li><a href="#">Software Development</a></li>
                                    <li><a href="#">Website Development</a></li>
                                    <li><a href="#">Mobile application<br>development</a></li>
                                    <li><a href="#">Website Design</a></li>
                                    <li><a href="#">Blockchain Development</a></li>
                                    <li><a href="#">E-Commerce Development </a></li>
                                </div>
                                <div class="merge">
                                    <li><a href="#">Accounting Software</a></li>
                                    <li><a href="#">Other Digital<br>Transformation</a></li>
                                    <li><a href="#">IT Recruitments</a></li>
                                    <li><a href="#">RPO</a></li>
                                    <li><a href="#">Executive Search</a></li>
                                    <li><a href="#">Sourcing of Candidates</a></li>
                                </div>
                                <div class="merge">
                                    <li><a href="#">Corporate Training</a></li>
                                    <li><a href="#">Social Media Marketing</a></li>
                                    <li><a href="#">Search Engine Optimization</a></li>
                                    <li><a href="#">Social Media Optimization</a></li>
                                    <li><a href="#">Domain REgistration</a></li>
                                    <li><a href="#">Web Hosting</a></li>
                                </div>
                                <div class="merge">
                                    <li><a href="#">SSL & Security</a></li>
                                    <li><a href="#">Email Services</a></li>
                                    <li><a href="#">AWS Consulting</a></li>
                                    <li><a href="#">Cloud Migration Services</a></li>
                                    <li><a href="#">IT Consulting</a></li>
                                </div>
                                </div>
                            </ul>
                        </li>
                        <li class="career">CAREER
                            <ul>
                                <li><a href="job.html" target="_blank">Job</a></li>
                                <li><a href="training.html" target="_blank">Training & Placement</a></li>
                                <li><a href="intern.html" target="_blank">Internships</a></li>
                            </ul>
                        </li>
                        <li class="career">OUR VALUES
                            <ul>
                                <li><a href="mission.html" target="_blank">Mission & Vision</a></li>
                                <li><a href="mission.html" target="_blank">Core Values</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html" target="_blank">CONTACT US</a></li>
                        <li><a><button>Lets talk</button></a></li>
                    </ul>
                </div>
                <div class="bar-details">
                    <i class="fa fa-bars" onclick="show();"></i>
                </div>
            </div>
            <div class="demo">
                <img src="../assets/image/Untitled design.png">
            </div>
            <div class="demo-2">
                <img src="../assets/image/fff.png">
            </div>
            <div class="head-content">
                <p style="color: white;font-weight: 500;">We Transform your Ideas into an <br>Innovative Digital Solution</p>
                <button>Get Services</button>
                <div class="location">
                    <a href="https://www.google.com/maps/place/REDOT+SOLUTIONS+PRIVATE+LIMITED/@9.922558,78.149825,14z/data=!4m6!3m5!1s0x3b00c5532f8fb4a5:0xf24d51f75607a1f5!8m2!3d9.9211205!4d78.1493958!16s%2Fg%2F11smvb9nyl?hl=en&entry=ttu" target="_blank"><img src="../assets/image/location.png"></a>
                </div>
            </div>
            <!--
            <div class="head-image">
                <img src="image/doll.png">
            </div>-->
            <div class="whatsapp">
                <a href="https://wa.me/9952599685" target="_blank"><img src="../assets/image/whatsapp.png"></a>
            </div>
        </div>
        <div class="hiring-title">
            <p>What will you Leverage from Hiring Us?</p>
            <div class="hiring">
                <div class="box">
                    <img class="flip" src="../assets/image/collaboration.svg">
                    <h2>Exclusive Collaboration</h2><br>
                    <p>We focus on team work at its best cadre of team to onboard your projects with the approach of one client and one team, which makes full focus towards projects enhancement.</p>
                </div>
                <div class="box">
                    <img class="flip" src="../assets/image/tech.svg">
                    <h2>Preference and Suggestion<br>towards Tech Stack</h2>
                    <p>We deliberately support the clients satisfaction in accepting their preference of technologies and tools towards projects requirement and radically we ensure suggesting the tech stacks for the client in need.</p>
                </div>
                <div class="box">
                    <img class="flip" src="../assets/image/driven.png">
                    <h2>Revenue-Driven Solutions<br>for Business</h2>
                    <p>We leverage technologies, marketing tools to transform the ideas into digital business that are optimized for performance and ROI. We help you with compaigns which delivers the better results than the expected results.</p>
                </div>
                <div class="box">
                    <img class="flip" src="../assets/image/custom.png">
                    <h2>Customized Approach</h2><br>
                    <p>We have the rotter of professional working tirelessly to provide tailored and unique visions to meet yours business needs.</p>
                </div>
            </div>
        </div>
        <div class="web-develope">
            <h2>Website Development for Business</h2>
            <div class="web-image">
                <img src="../assets/image/web-develope.webp">
                <div class="web-content">
                    <p>REDOT transforms the idea into an innovative software and website development for startups to enhance their brand value on revenue driven sales with efficient promotions.</p>
                    <p>We make your business with greater credibility by showcasing your online presence which helps to build trust with your business peers.</p>
                </div>
            </div>
        </div>
        <a name="service"></a>
        <div class="vertical">
            <h2>Our Vertical of Services</h2>
            <div class="vertical-box">
                <div class="serve-box">
                    <img src="../assets/image/it.png">
                    <p>IT/Software</p>
                </div>
                <div class="serve-box">
                    <img src="../assets/image/account.png">
                    <p>Accounting</p>
                </div>
                <div class="serve-box">
                    <img src="../assets/image/health.webp">
                    <p>Healthcare</p>
                </div>
                <div class="serve-box">
                    <img src="../assets/image/manufacture.png">
                    <p>Manufacturing</p>
                </div>
            </div>
            <div class="vertical-box">
                <div class="serve-box">
                    <img src="../assets/image/education.png">
                    <p>Education</p>
                </div>
                <div class="serve-box">
                    <img src="../assets/image/real.png">
                    <p>Real Estate</p>
                </div>
                <div class="serve-box">
                    <img src="../assets/image/construction.png">
                    <p>Construction</p>
                </div>
                <div class="serve-box">
                    <img src="../assets/image/insuarance.png">
                    <p>Insurance</p>
                </div>
            </div>
            <div class="vertical-box">
                <div class="serve-box">
                    <img src="../assets/image/marketing.png">
                    <p>Marketing</p>
                </div>
                <div class="serve-box">
                    <img src="../assets/image/brand.png">
                    <p>Personal Branding</p>
                </div>
                <div class="serve-box">
                    <img src="../assets/image/energy.png">
                    <p>Energy Utilities</p>
                </div>
                <div class="serve-box">
                    <img src="../assets/image/automative.png">
                    <p>Automative</p>
                </div>
            </div>
            <div class="vertical-box">
                <div class="serve-box">
                    <img src="../assets/image/telecom.png">
                    <p>Telecom</p>
                </div>
                <div class="serve-box">
                    <img src="../assets/image/media.png">
                    <p>Media &<br>Entertainment</p>
                </div>
                <div class="serve-box">
                    <img src="../assets/image/retail.png">
                    <p>Retail</p>
                </div>
                <div class="serve-box">
                    <img src="../assets/image/travel.png">
                    <p>Travel/<br>Hospitality</p>
                </div>
            </div>
        </div>
        <div class="domain">
            <div class="domain-image">
                <img src="../assets/image/doman.webp">
            </div>
            <div class="domain-content">
                <h2>Domain Registration & Hosting</h2>
                <p>We Scale up Your Business with Ethical Brand Value!!!</p>
                <p style="font-weight: 550;">IDEA-INNOVATIVE-TRANSFORM</p>
                <img src="../assets/image/party.webp">
            </div>
        </div>
        <div class="redot-insight">
            <h2>REDOT'S INSIGHTS</h2>
            <div class="insights">
                <div class="insight-part">
                    <img src="../assets/image/business.png">
                    <p>Can Website creates impact to the Business?</p>
                </div>
                <div class="insight-part">
                    <img src="../assets/image/customer.webp">
                    <p>How to increase your Credibility towards your Customers?</p>
                </div>
                <div class="insight-part">
                    <img src="../assets/image/cloud.webp">
                    <p>Significance of Clound Computing on Business Operations?</p>
                </div>
                <div class="insight-part">
                    <img src="../assets/image/roi.webp">
                    <p>Looking to Boost your ROI in your Bussiness</p>
                </div>
            </div>
        </div>
        <div class="footer-part">
            <div class="brands">
                <h2>Our Brands</h2>
                <div class="infiniticz">
                    <p><a href="https://infiniticz.com/" target="_blank">INFINITICZ</a></p>
                </div><br>
                <div class="redot">
                    <p><a href="https://www.redotsolutions.com/#/" target="_blank">REDOT ACADEMY</a></p>
                </div>
                <img src="../assets/image/redot-log.png">
            </div>
            <div class="services-part">
                <div class="part">
                    <h2>Development</h2>
                    <p><a href="#">Software Development</a></p>
                    <p><a href="#">Website Development</a></p>
                    <p><a href="#">Mobile Application<br>Development</a></p>
                    <p><a href="#">Website Design</a></p>
                    <p><a href="#">Blockchain Development</a></p>
                    <p><a href="#">E-Commerce Development</a></p>
                    <p><a href="#">Accounting Software</a></p>
                    <p><a href="#">Other Digital Transformations</a></p>
                </div>
                <div class="part" id="change" style="width: 230px;">
                    <h2>Outsourcing</h2>
                    <p><a href="#">IT Recruitments</a></p>
                    <p><a href="#">RPO(Recriutment process outsourcing)</a></p>
                    <p><a href="#">Executive Search</a></p>
                    <p><a href="#">Sourcing of Candidates</a></p>
                    <p><a href="#">Corporate Training<br>(sourcing and IT recriutment)</a></p>
                    <h2>Digital Marketing</h2>
                    <p><a href="#">Social Media Marketing</a></p>
                    <p><a href="#">Search Engine Optimization</a></p>
                    <p><a href="#">Social Media Optimization</a></p>
                </div>
                <div class="part">
                    <h2>Domain Hosting</h2>
                    <p><a href="#">Domain Registration</a></p>
                    <p><a href="#">Web Hosting</a></p>
                    <p><a href="#">SSL & Security</a></p>
                    <p><a href="#">Email Services</a></p>
                    <div class="part" style="padding-top:20px">
                        <h2>Devops & Cloud</h2>
                        <p><a href="#">AWS Consulting</a></p>
                        <p><a href="#">Cloud Migration Services</a></p>
                        <p><a href="#">IT Consulting</a></p>
                    </div>
                </div>
            </div>
            <div class="reviews">
                <h2>Reviews</h2>
                <p>We trust the process and Teamwork to satisfy clients. Our credibility can be reviewed here!</p>
                <button>Lets's Review</button>
                <div class="social-icons">
                    <a href="https://www.facebook.com/redothrsolutions?mibextid=D4KYlr" target="_blank"><i class="fa fa-facebook-f" style="padding: 10px 13px;"></i></a>
                    <a href="https://twitter.com/RedotSolutions?s=20" target="_blank"><img src="../assets/image/twi1.png"></a>
                    <a href="https://instagram.com/redot.solutions?igshid=MzRlODBiNWFlZA==" target="_blank"><i class="fa fa-instagram" style="margin-right: 4px;"></i></a>
                    <a href="https://www.linkedin.com/company/redot-solutions/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="copywrite">
            <p>Redot Solutions © copyright 2023. All Rights Reserved.</p>
        </div>
    </div>
    <script>
        var links =document.getElementById("menu-links");
        function show(){
            links.style.right = "0";
        }
        function hide(){
            links.style.right = "-200px"
        }
    </script>
</body>
</html>